.root {
  color: var(--txt-color-main);
  text-decoration: none;
  font-weight: bold;
}

.root:hover {
  color: rgb(6, 216, 108);
  text-decoration: underline;
}

.root:active {
  color: rgb(255, 111, 0);
}